@page "/Customers"
@using StkMS.Library.Contracts
@using StkMS.Library.Models
@using StkMS.Services
@inject IApiClient apiClient


<h3>Hello</h3>

<RadzenContent Container="main">
    <ChildContent>
        <RadzenHeading Size="H1" Text="Customers">
        </RadzenHeading>
        <div class="row">
            <div class="col-md-12">
                <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Count="@count" Data="customers" LoadData="@LoadData" FilterMode="FilterMode.Advanced" TItem="Customer">
                    <Columns>
                        <RadzenGridColumn TItem="Customer" Property="CustomerId" Title="Customer Id" Visible="false">
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="Customer" Property="Name" Title="Name">
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="Customer" Property="Description" Title="Description">
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="Customer" Property="Address" Title="Address">
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="Customer" Property="City" Title="City">
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </div>
        </div>
    </ChildContent>
</RadzenContent>


@code { bool isLoading;
    int count;

    protected RadzenGrid<Customer> grid0;
    IEnumerable<Customer> customers;
    private IEnumerable<Customer> getCustomersResult { get; set; }




    async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;
        var data = (await apiClient.GetAllCustomerAsync().ConfigureAwait(true)).ToArray();
        customers = data;
        count = data.Length;
        isLoading = false;
    } }
